.bg{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0575E6, #11376c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0575E6, #11376c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flexclass {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.loginContainer{
    width: 100%;
    max-width: 1024px;
    margin: 2rem 0px 10rem 0px;
}

.mt-100{
    margin-top: 100px;
}
.mt-130{
    margin-top: 130px;
}

.inputField{
    height: 32px;
    font-size: 20px;
    size: 20px;
}

label{
    font-size: 16px;
}

.btn-font{
    font-size: 20px;
}

.line {
    width: 100%;
    align-self: center;
    background-color: #195b9d;
    height: 1px;
    margin-bottom: 4px;
}