.mail {
    width: 100%;
    margin-top: 50px;
    background-color: #00265b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.mailInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailInputContainer>input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
}

.mailInputContainer>button {
    height: 50px;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

@media (max-width: 450px) {
    .mail {
        flex-wrap: wrap;
    }

    .mailInputContainer {
        flex-wrap: wrap;
        gap: 2rem;
    }
}